<a class="more-link" href="/smartphone/{{ platform }}/action/sort-by/new/page1/" rel="nofollow">Экшен</a>
<a class="more-link" href="/smartphone/{{ platform }}/arkady/sort-by/new/page1/" rel="nofollow">Аркады</a>
<a class="more-link" href="/smartphone/{{ platform }}/rpg/sort-by/new/page1/" rel="nofollow">RPG</a>
<a class="more-link" href="/smartphone/{{ platform }}/strategii/sort-by/new/page1/" rel="nofollow">Стратегии</a>
<a class="more-link" href="/smartphone/{{ platform }}/racing/sort-by/new/page1/" rel="nofollow">Гонки</a>
<a class="more-link" href="/smartphone/{{ platform }}/golovolomki/sort-by/new/page1/" rel="nofollow">Головоломки</a>
<a class="more-link" href="/smartphone/{{ platform }}/nastolnye/sort-by/new/page1/" rel="nofollow">Настольные</a>
<a class="more-link" href="/smartphone/{{ platform }}/sportivnye/sort-by/new/page1/" rel="nofollow">Спортивные</a>
<a class="more-link" href="/smartphone/{{ platform }}/drugie/sort-by/new/page1/" rel="nofollow">Другие</a>
